.round-slider{
    position:absolute;
    display:flex;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* transform:translateX(-100%) translateY(-50%); */
    pointer-events: none;
}

.textures-section{
    box-sizing: border-box;
    position:relative;
    display: flex;
    align-items:center;
    justify-content: left;
    margin:100px 0 0;
    width:100%;
    aspect-ratio: calc(16/9);
}

.textures-section__title{
    top:10%;
}

.blob{
    position: relative;
    width:45%;
    aspect-ratio: 1;
    z-index:2;
}

.sliderHandle{
    z-index:1;
    pointer-events: all;
}

circle{
    z-index:5;
}

.blob__color-selectors{
    position: absolute;
    top:85%;
    left:50%;
    transform:translateX(-50%);
    width:30%;
    height:30px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.blob__color-selector{
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    height:100%;
    aspect-ratio: 1;
    box-sizing:border-box;
    transition:all ease-in-out 0.2s;
    &:hover{
        border: 2px solid rgb(255, 255, 255);
    }
}

.blob__color-selector_peach{
    background: radial-gradient(circle, rgb(159, 28, 103) 0%, rgba(255,126,105,1) 100%);
}

.blob__color-selector_sea{
    background: radial-gradient(circle, rgba(2,78,235,1) 0%, rgba(167,41,171,1) 100%);
}

.blob__color-selector_multicolor{
    /* background-color:grey; */
    background-image: url("../images/multicolor-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.blob__color-selector_selected{
    border: 2px solid white;
}

.blob-description{
    position: relative;
    position: absolute;
    left:47%;
    width:16%;
    height:40%;
    /* aspect-ratio: 1; */
    z-index:2;
    padding:30px;
    border-radius:30px;

    background: rgba(59, 59, 59, 0.274);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.2px);
    border: 1px solid rgba(59, 59, 59, 0.27);
    transition:all ease-in-out 0.6s;
    overflow: hidden;
}

.blob-description_wrapped{
    height: 25%;
    /* aspect-ratio: 1; */
    padding:0;
    width: 14.0625%;
    transform:translateX(17%);
}


.blob-description_second{
    left:72%;
}

.blob-description__spinning-text{
    position: absolute;
    top:0;
    left:0;
    padding:15px;
    box-sizing: border-box;
    z-index:2;
    width:100%;
    transform:translateX(3%);
    opacity:1;
    animation: rotation linear 9s infinite;
    transition:all linear 0.3s;
    cursor:pointer;
}

.blob-description__spinning-text_hidden{
    opacity:0;
    user-select: none;
    pointer-events: none;
}

.blob-description__icon{
 position: absolute;
 top:50%;
 left:50%;
 width:50%;
 transform: translateX(-50%) translateY(-50%);
 opacity:1;
 transition:opacity linear 0.3s, width ease 0.2s;
}

.blob-description__icon_hidden{
    opacity: 0;
}

.blob-description__spinning-text:hover + .blob-description__icon{
    width:40%;
}

.blob-description__texture-name{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.1;
    margin:0;
    opacity: 1;
    transition: all linear 0.2s;
}

.blob-description__texture-name_hidden{
    opacity:0;
}

.blob-description__texture-description{
    font-size: 16px;
    text-align: left;
    opacity:1;
    transition: all linear 0.2s;
}

.blob-description__texture-description_hidden{
    opacity:0;
}

.blob-description__close-description{
    position: absolute;
    bottom:10px;
    left:50%;
    transform:translateX(-50%);
    opacity:1;
    transition:all linear 0.2s;
    cursor:pointer;
}

.blob-description__close-description:hover{
    opacity:0.6;
}

.blob-description__close-description_hidden{
    opacity:0;
    pointer-events: none;
}

.textures-section__background-circle{
    position:absolute;
    aspect-ratio: 1;
    z-index: 0;
    border-radius:50%;
}

.textures-section__background-circle_one{
    top:60%;
    left:85%;
    width:25%;
    background-color: rgb(138, 0, 141);
    background-color: #A04747;
    filter: blur(32px);
}

.textures-section__background-circle_two{
    top:27%;
    left:14%;
    width:15%;
    background-color: rgb(228, 228, 35);
    background-color: #D8A25E;
    filter: blur(92px);
}

.textures-section__background-circle_three{
    top:10%;
    left:90%;
    width:15%;
    background-color: #481E14;
    background-color: #D8A25E;
    z-index:1;
    filter: blur(75px);
    transform: translate(-50%, -50%);
}

.textures-section__background-circle_four{
    top:20%;
    left:80%;
    width:15%;
    background-color: #481E14;
    background-color: #A04747;
    z-index:1;
    filter: blur(15px);
    transform: translate(-50%, -50%);
}

.textures-section__background-circle_five{
    top:10%;
    left:90%;
    width:20%;
    background-color: #481E14;
    background-color: #A04747;
    z-index:0;
    filter: blur(35px);
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}